@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4,h5,p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}